<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <main id="app">
    </main>

  </body>

  <script src="https://www.gstatic.com/firebasejs/3.6.7/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyC1Pc25cYgwLik_ZxOAvKCJkuyW9O3qF_E",
      authDomain: "capsule-1e683.firebaseapp.com",
      databaseURL: "https://capsule-1e683.firebaseio.com",
      storageBucket: "capsule-1e683.appspot.com",
      messagingSenderId: "536504326793"
    };
    firebase.initializeApp(config);
  </script>
  <script src="dist/bundle.js" charset="utf-8"></script>
</html>
