* {
  box-sizing: border-box;
}
 body {
   margin: 0;
 }

/* All styles for landing page sign in*/
/*.capsule {
  font-size: 82px;
  color: #81D4FA;
  margin: 2%;
}*/

.subTitle {
  margin: auto;
  margin-bottom: 2%;
  color: #CDDC39;
}

/*.started {
  margin: 2%;
  color: #607D8B;
}*/

.gmail {
  outline: none;
  border-radius: 8px;
  height: 40px;
  width: 240px;
}

.welcome {
  font-size: 32px;
  text-align: center;
  /*border: solid lightgrey 1px;*/
  width: 100%;
  margin: 5% auto;
}

.googleSignIn:hover {
  border: solid yellow 1px;
}

.facebookSignIn:hover {
  border: solid yellow 1px;
}

.facebookSignIn {
  height: 50px;
  border-radius: 8px;
  color: white;
  background-color: rgb(72, 103, 170);
  font-size: large;
  display: block;
  width: 45%;
  margin-left: 27.5%;
}

.googleSignIn {
  height: 50px;
  border-radius: 8px;
  color: white;
  background-color: red;
  font-size: large;
  width: 45%;
}

/* End of landing page styles and sign in */

/* Start of home page styles */
.logo__Image {
  height: 75px;
  margin-left: 5%;
  margin-top: 1%;
  border-radius: 8px;
}

.header {
  height: 100px;
  margin: 0 0 3% 0;
}

.header__Div {

}

.header__UserName {
  font-size: 20px;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 64px;
  vertical-align: bottom;
  height: 100px;
  line-height: 100px;
}

.header__UserImage {
  height: 50px;
  border-radius: 100px;
  vertical-align: middle;
  margin-right: 8%;
  position: absolute;
  margin-top: 2%;
}

.header__Image {
  width: 100%;
  height: 100%;
  z-index: -1;
  margin-bottom: 2%;
  position: relative;;
}

.user__Login {
  position: absolute;
  margin-top: 25%;
  width: 40%;
}

.signOut {
 margin-left: 20px;
 border: none;
 background-color: white;
 color: rgb(247, 138, 126);
 font-size: 20px;
 height: 100px;
}

.header__Right {
  float: right;
  margin-right: 5%;
  width: 20%;
  height: 100px;
}

.capsule__display {
  width: 100%;
  height: 30%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-top: 20px;
}

.capsule__Container {
  height: 400px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
/* End of header elements including title */

/*.aside__Wrapper {
  width: 300px;
  height: auto;
  border-right: solid black 1px;
  border-bottom: solid black 1px;
  float: left;
}*/

.newCapsule {
  border-radius: 8px;
  background-color: rgb(94, 226, 191);
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  vertical-align: middle;
  padding: 8px;
  display: block;
}

.newCapsuleForm {
  height: 300px;
  width: 300px;
  border: solid #03A9F4 3px;
  margin-left: 20%;
  position: absolute;
  z-index: 4;
  background-color: white;
}

.inputs {
  border-radius: 8px;
  height: 40px;
  width: 90%;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

.formSubmit {
  background-color: rgb(249, 139, 127);
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  height: 50px;
  width: 90%;
  font-size: 20px;
}

.picture__Button {
  border-radius: 8px;
  background-color: rgb(94, 226, 191);
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  vertical-align: middle;
  padding: 8px;
  display: block;
  margin-top: 2%;
}

/* capsule design elements */
.newCapTitle {
  font-size: 28px;
  margin: 1%;
}

.newCapEvent {
  margin: 1%;
}

.newCapDate {
  margin: 1%;
}

/*.newCapsules__Container {
  width: 80%;
  border: solid grey 2px;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}*/

.capsule__Unit {
  /*float: left;*/
  text-align: center;
  width: 352px;
  margin-bottom: 8%;
  margin-left: 2%;
  margin-right: 2%;
  display: inline-block;
  border: solid black 2px;
}


.lines {
  margin-top: 20%;
}


.video {
  width: 700px;
  height: 575px;
  /*background-color: lightgrey;*/
}

.canvas {
  width: 700px;
  height: 575px;
  background-color: lightgrey;
  display: none;
}

.photoSnap {
  width: 700px;
  height: 575px;
}

.snap:hover {
  background-color: green;
}

.snap {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  position: absolute;
  z-index: 4;
  margin-left: 25%;
  margin-top: 38%;
  background-color: red;
  color: white;
}

.cameraScreen {
  width: 700px;
  height: 575px;
  display: inline-block;
  float: right;
  margin-right: 14.5%
}

.div {
  height: 400px;
  width: 500px;
  border: solid black 1px;
  margin-top: 55%;
}

.divOver:hover {
  border: solid yellow 3px;
}

.capsule__Info {
  border-top: solid black 2px;
  height: 100px;
  background-color: white;
}

.capsule__default--Image {
  height: 275px;
  width: 350px;
  margin: auto;
}

.userImage {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}
