* {
  box-sizing: border-box;
}
 body {
   margin: 0;
   background-color: rgb(78, 122, 153);
 }

 .blur {
   -webkit-filter: blur(5px) grayscale(50%);
 }

/* All styles for landing page sign in*/
/*.capsule {
  font-size: 82px;
  color: #81D4FA;
  margin: 2%;
}*/

.subTitle {
  margin: auto;
  margin-bottom: 2%;
  color: #CDDC39;
}

/*.started {
  margin: 2%;
  color: #607D8B;
}*/

.gmail {
  outline: none;
  border-radius: 8px;
  height: 40px;
  width: 240px;
}

.welcome {
  font-size: 32px;
  text-align: center;
  /*border: solid lightgrey 1px;*/
  width: 100%;
  margin: 5% auto;
}

.googleSignIn:hover {
  border: solid yellow 1px;
}

.facebookSignIn:hover {
  border: solid yellow 1px;
}

.facebookSignIn {
  height: 50px;
  border-radius: 8px;
  color: white;
  background-color: rgb(72, 103, 170);
  font-size: large;
  display: block;
  width: 45%;
  margin-left: 27.5%;
}

.googleSignIn {
  height: 50px;
  border-radius: 8px;
  color: white;
  background-color: red;
  font-size: large;
  width: 45%;
}

/* End of landing page styles and sign in */

/* Start of home page styles */
.logo__Image {
  height: 75px;
  margin-left: 5%;
  margin-top: 1%;
  border-radius: 8px;
}

.header {
  height: 100px;
}

.header__Div {

}

.upload__Div {
  color: white;
  background-color: rgb(94, 226, 191);
  display: inline-block;
  /* margin-right: -12%; */
  line-height: 45px;
  height: 49px;
  vertical-align: middle;
  margin-top: -4.1%;
  margin-left: -6%;
  font-size: 21px;
  border-radius: 8px;
  width: 17%;
  padding-left: 8px;
  border: rgb(247, 138, 126) solid 2px;
}

.upload__Photo {
  cursor: pointer;
  vertical-align: top;
  margin-top: 2.7%;
  margin-left: -17%;
  height: 45%;
  display: inline-block;
  width: 17%;
  padding: 45px 0 0 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 8px;
}

.header__UserName {
  font-size: 20px;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 64px;
  vertical-align: bottom;
  height: 100px;
  line-height: 100px;
  color: rgb(94, 226, 191);
}

.header__UserImage {
  height: 50px;
  border-radius: 100px;
  vertical-align: middle;
  margin-right: 8%;
  position: absolute;
  margin-top: 2%;
}

.header__Image {
  width: 100%;
  height: 100%;
  z-index: -1;
  margin-bottom: 2%;
  position: relative;;
}

.user__Login {
  position: absolute;
  margin-top: 25%;
  width: 40%;
}

.signOut {
 margin-left: 6%;
 border: none;
 background-color: rgb(78, 122, 153);
 color: rgb(247, 138, 126);
 font-size: 20px;
 height: 100px;
}

.header__Right {
  float: right;
  margin-right: 5%;
  width: 20%;
  height: 100px;
}

.capsule__display {
  width: 100%;
  height: 30%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-top: 20px;
}

.capsule__Container {
  height: 430px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.loadedImage {
  height: 275px;
    width: 352px;
    margin-left: -1px;
    margin-right: auto;
    border-radius: 8px 8px 0 0;
}
/* End of header elements including title */

.aside__Wrapper {
  display: inline-block;
  width: 30%;
  vertical-align: text-bottom;
  text-align: center;
}

.newCapsule {
  cursor: pointer;
  border: rgb(247, 138, 126) solid 2px;
  border-radius: 8px;
  background-color: rgb(94, 226, 191);
  font-size: 21px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  height: 50px;
  vertical-align: middle;
  padding: 8px;
  display: inline-block;
  color: white;
}

.newCapsuleForm {
  height: 300px;
  width: 300px;
  border: solid #03A9F4 3px;
  margin-left: 20%;
  position: absolute;
  z-index: 4;
  background-color: white;
}

.inputs {
  border-radius: 8px;
  height: 40px;
  width: 90%;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

.formSubmit {
  background-color: rgb(249, 139, 127);
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  height: 50px;
  width: 90%;
  font-size: 20px;
}

/* capsule design elements */
.newCapTitle {
  font-size: 28px;
  margin: 1%;
  font-family: avenir-light bold;
  font-weight: 100;
  color: rgb(144, 164, 174);
  margin-left: 5%;
}

.newCapEvent {
  margin: 1%;
  font-family: avenir-light;
  color: rgb(144, 164, 174);
  font-weight: 100;
  margin-left: 5%;
}

.newCapDate {
  color: white;
  height: 34px;
  background: lightgrey;
  margin-top: 2%;
  width: 100%;
  text-align: right;
  padding-right: 8px;
  padding-top: 6px;
  border-radius: 0 0 8px 8px;
}

/*.newCapsules__Container {
  width: 80%;
  border: solid grey 2px;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}*/

.capsule__Unit {
  /*float: left;*/
  text-align: center;
  width: 352px;
  margin-bottom: 8%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  display: inline-block;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.lines {
  margin-top: 20%;
}


.video {
  width: 92%;
  height: auto;
  margin-left: -1.2%;
  margin-top: 2%;
}

.canvas {
  width: 700px;
  height: 575px;
  background-color: lightgrey;
  display: none;
}

.photoSnap {
  width: 76%;
  height: 600px;
  margin-left: 23%;
  cursor: -webkit-grabbing;
}

.photoModal {
  z-index: 5;
  width: 100%;
  height: 800px;
  background-color: rgba(33, 33, 33,0.9);
  margin-top: -63%;
  position: absolute;
}

.photoDisplay {
  width: 82%;
  height: auto;
  margin-left: 0.5%;
}

.imageSnapDiv {
  margin-bottom: 2%;
}

.dragNdrop {
  display: inline-block;
  margin-left: 34%;
  font-size: 28px;
  font-family: helvetica;
  color: rgb(94, 226, 191);
}

.or {
  display: inline-block;
  font-size: 24px;
  color: white;
  margin-left: 5%;
}

.retake {
  cursor: pointer;
  float: right;
  margin-right: 15%;
  margin-top: 2.5%;
  font-size: 28px;
  -webkit-appearance: none;
  background: none;
  border: none;
  font-family: helvetica;
  color: rgb(247, 138, 126);
  border: solid 3px rgb(94, 226, 191);
}

.close__Image--snap {
  cursor: pointer;
  display: block;
  margin-right: 2%;
  margin-left: 3%;
  margin-top: -6%;
  margin-bottom: 2%;
  border-radius: 100px;
  height: 40px;
  width: 40px;
  font-size: 20px;
  color: white;
  border-color: white;
  background: none;
  float: right;
}

.hvr-border-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 1px #e1e1e1, 0 0 1px transparent;
  /* Hack to improve aliasing on mobile/tablet devices */
}
.hvr-border-fade:hover, .hvr-border-fade:focus, .hvr-border-fade:active {
  box-shadow: inset 0 0 0 4px #2098D1, 0 0 1px transparent;
  /* Hack to improve aliasing on mobile/tablet devices */
}

.snap:hover {
  background-color: green;
}

.snap {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  position: absolute;
  z-index: 1;
  margin-left: 40%;
  margin-top: 55%;
  background-color: red;
  color: white;
}

.cameraScreen {
  width: 90%;
  height: auto;
  display: inline-block;
  margin-left: 10.25%;

}

.div {
  height: 400px;
  width: 500px;
  border: solid black 1px;
  margin-top: 55%;
}

.divOver:hover {
  border: solid yellow 3px;
}

.capsule__Info {
  border-top: solid rgb(181, 177, 176) 2px;
  height: 100px;
  background-color: white;
  text-align: left;
  width: 352px;
  margin-left: 2.3%;
}

.capsule__default--Image {
  height: 275px;
  width: 370px;
  margin: auto;
}

.userImage {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

/* styling for modal popup */

.imageModal {
  height: auto;
  width: 100%;
}

.imageModalThumbnail {
  height: 525px;
  width: 690px;
  display: inline-block;
  padding: 15px;
  z-index: 2
}

.modalWrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  position: absolute;
  z-index: 2;
  width: 80%;
  margin-left: 10.7%;
  margin-top: 2%;
  border: solid white 1px;
  height: auto;
  background-color: rgba(33, 33, 33,0.9)
}

.hidden {
  display: none;
}

.eachImageContainer {
  display: inline-block;
  margin-top: 1%;
}

.close__Modal--Button {
  display: block;
  margin-left: 15%;
  margin-top: 2%;
  border-radius: 100px;
  height: 40px;
  width: 40px;
  font-size: 20px;
  color: white;
  border-color: white;
  background: none;
}

.modal__Closing--Div {

}

.outside__Modal--Area {
  width: 100%;
  height: 800px;
  background-color: rgba(33, 33, 33,0.9);
  z-index: 2;
  position: absolute;
  margin-top: -7%;
}
