* {
  box-sizing: border-box;
}
 body {
   margin: 0;
 }

/* All styles for landing page sign in*/
.capsule {
  font-size: 82px;
  color: #81D4FA;
  margin: 2%;
}

.subTitle {
  margin: 2%;
  color: #CDDC39;
}

.signInForm {
  width: 30%;
  text-align: center;
  margin: 2% auto;
}

.started {
  margin: 2%;
  color: #607D8B;
}

.gmail {
  outline: none;
  border-radius: 8px;
  height: 40px;
  width: 240px;
}

.welcome {
  font-size: 32px;
  text-align: center;
  /*border: solid lightgrey 1px;*/
  width: 60%;
  margin: 20% auto;
}

.googleSignIn:hover {
  background-color: red;
}

.googleSignIn {
  height: 50px;
  border-radius: 8px;
  color: white;
  background-color: #00A1F1;
  font-size: large;
}

/* End of landing page styles and sign in */

/* Start of home page styles */
.header {
  height: 100px;
  margin: 0;
}

.header__Div {

}

.header__Title {
  display: inline-block;
  font-size: 100px;
  margin-left: 37%;
  margin-top: 10px;
  margin-bottom: 0;
  vertical-align: middle;
  line-height: 100px;
  color: #03A9F4;
  position: absolute;
}

.header__UserName {
  font-size: 20px;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 64px;
  vertical-align: bottom;
  height: 100px;
  line-height: 100px;
}

.header__UserImage {
  height: 50px;
  border-radius: 100px;
  vertical-align: middle;
  margin-right: 8%;
  position: absolute;
  margin-top: 2%;
}

.header__Image {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  margin-bottom: 2%;
}

.signOut {
 margin-left: 20px;
 border: none;
 background-color: white;
 color: #CDDC39;
 font-size: 20px;
 height: 100px;
}

.header__Right {
  float: right;
  margin-right: 5%;
  width: 20%;
  height: 100px;
}
/* End of header elements including title */

.aside__Wrapper {
  width: 300px;
  height: auto;
  border-right: solid black 1px;
  border-bottom: solid black 1px;
  float: left;
}

.capsule__default--Image {
  height: 200px;
  border-radius: 100px;
}

.newCapsule {
  border-radius: 8px;
  background-color: rgb(94, 226, 191);
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  vertical-align: middle;
  padding: 8px;
  display: block;
}

.newCapsuleForm {
  height: 300px;
  width: 300px;
  border: solid #03A9F4 3px;
  margin-left: 20%;
  position: absolute;
  z-index: 4;
  background-color: white;
}

.inputs {
  border-radius: 8px;
  height: 40px;
  width: 90%;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

.formSubmit {
  background-color: rgb(249, 139, 127);
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  height: 50px;
  width: 90%;
  font-size: 20px;
}

.picture__Button {
  border-radius: 8px;
  background-color: rgb(94, 226, 191);
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  vertical-align: middle;
  padding: 8px;
  display: block;
  margin-top: 2%;
}

/* capsule design elements */
.newCapTitle {
  font-size: 28px;
  margin: 1%;
}

.newCapEvent {
  margin: 1%;
}

.newCapDate {
  margin: 1%;
}

/*.newCapsules__Container {
  width: 80%;
  border: solid grey 2px;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}*/

.capsule__Unit {
  /*float: left;*/
  text-align: center;
  width: 300px;
  margin-bottom: 8%;
  margin-left: auto;
  margin-right: auto;
}

.div__Capsule--Top {
  border: solid black 3px;
  height: 100px;
  width: 100px;
  border-radius: 50px 50px 0px 0px;
  margin: 0 auto;
  z-index: -1;
}

.div__Capsule--Bottom {
  border: solid black 3px;
  height: 100px;
  width: 100px;
  border-radius: 0px 0px 50px 50px;
  margin: 0 auto;
  z-index: -1;
}

.div__Capsule--CrossBar {
  height: 20px;
  width: 100px;
  border: solid black 2px;
  margin-top: 46px;
}

.lines {
  margin-top: 20%;
}

.fa-mine-top {
  display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 40px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-top: 40%;
}

.fa-mine-bottom {
  display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 40px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 40%;
}

.video {
  width: 700px;
  height: 575px;
  /*background-color: lightgrey;*/
}

.canvas {
  width: 700px;
  height: 575px;
  background-color: lightgrey;
  display: none;
}

.photoSnap {
  width: 700px;
  height: 575px;
}

.snap:hover {
  background-color: green;
}

.snap {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  position: absolute;
  z-index: 4;
  margin-left: 25%;
  margin-top: 38%;
  background-color: red;
  color: white;
}

.cameraScreen {
  width: 700px;
  height: 575px;
  display: inline-block;
  float: right;
  margin-right: 14.5%
}
