* {
  box-sizing: border-box;
}

.capsule {
  font-size: 82px;
  color: #03A9F4;
  margin: 2%;
}

.subTitle {
  margin: 2%;
  color: #CDDC39;
}

.signInForm {
  width: 30%;
  text-align: center;
  margin: 2% auto;
}

.started {
  margin: 2%;
  color: #607D8B;
}

.gmail {
  outline: none;
  border-radius: 8px;
  height: 40px;
  width: 240px;
}

.welcome {
  font-size: 32px;
  text-align: center;
  /*border: solid lightgrey 1px;*/
  width: 60%;
  margin: 20% auto;
}

.googleSignIn:hover {
  background-color: red;
}

.googleSignIn {
  height: 50px;
  border-radius: 8px;
  color: white;
  background-color: #00A1F1;
  font-size: large;
}
